<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <appSettings>
    <add key="FakeSettings.Name" value="Cedric"/>
    <add key="FakeSettings.Age" value="21"/>
    <add key="FakeSettings.Active" value="true"/>
    <add key="FakeSettings.DateOfBirth" value="2/10/1978"/>
  </appSettings>
</configuration>
